{% extends 'base.html.twig' %}


{% block body %}

    <form method="get">
        <input type="text" name="q" value="" placeholder="Search ..."> <input type="submit" value="Go" />
    </form>

    <p>&nbsp;</p>

    <table>
        <tr>
            <th>Name</th>
            <th>Cost</th>
            <th>Buy</th>
        </tr>
    {% for starship in starships %}

        <tr>
            <td><a href="/starship/view/{{ starship.id }}">{{ starship.name }}</a></td>
            <td>{{ starship.cost|number_format(2) }}</td>
            <td>

                {% if starship.cost <= app.user.credits %}
                    <a href="/starship/buy/{{ starship.id }}">Buy</a>
                {% endif %}

            </td>
        </tr>

    {% endfor %}

    </table>

<a href="{{path('app_basket_index')}}">Basket</a>

    <style>
        table tr td , table tr th {
            padding: 5px;
            border: 1px solid black;
        }
    </style>

{% endblock %}