{% extends 'base.html.twig' %}


{% block body %}



    <h1>{{ starship.name }}</h1>


    <h2>Comments</h2>
    {% for comment in starship.comments %}

        <p>{{ comment.comment | raw }}</p>

    {% endfor %}


    <h2>Add comment</h2>

    <form method="post">

        <label>Comment</label><br />
        <textarea id="summernote" name="comment"></textarea><br />
        <input type="submit" value="Add comment">
    </form>


    <style>
        table tr td , table tr th {
            padding: 5px;
            border: 1px solid black;
        }
    </style>



    <script>
        $(document).ready(function() {
            $('#summernote').summernote();
        });
    </script>

{% endblock %}