{% extends 'base.html.twig' %}


{% block body %}


    <h1>My credits: {{ app.user.credits }}</h1>
    <h2>Actions</h2>

    <ul>
        <li><a href="/transfer-credit">Transfer credit</a></li>
        <li><a href="/starship">List of starships</a></li>
        <li><a href="/order">My orders</a></li>
    </ul>

{% endblock %}