{% extends 'base.html.twig' %}


{% block body %}

<table>
    <thead>
        <tr>
            <th>#</th>
            <th>Name</th>
            <th>Cena</th>
            <th>Akcja</th>
        </tr>
    </thead>
    <tbody>
        {% for basket in baskets %}
        <tr>
            <td>{{ loop.index }}</td>
            <td>{{ basket.name }}</td>
            <td>{{ basket.cost|number_format(2) }}</td>
            <td><a href="{{ path('app_basket_trash',{'id' : basket.id}) }}">Usuń</td>
        </tr>
        {% endfor %}
    </tbody>
</table>    

<style>
    table tr td , table tr th {
        padding: 5px;
        border: 1px solid black;
    }
</style>

{% endblock %}