{% extends 'base.html.twig' %}


{% block body %}

    <table>
        <tr>
            <th>Name</th>
            <th>Cost</th>                  
            <th>Delete</th> 
        </tr>
        {% for order in orders %}

            <tr>
                <td>{{ order.starship.name }}</td>
                <td>{{ order.starship.cost|number_format(2) }}</td>    
                <td>
                    <a href="/order/delete/{{ order.id }}">Delete</a>
                </td>
            </tr>
        {% endfor %}

    </table>



    <style>
        table tr td , table tr th {
            padding: 5px;
            border: 1px solid black;
        }
    </style>

{% endblock %}